.VarTable {
	position: absolute;
	top: 150px;
    left: 10px;
    .VarGrid{
		display: grid;
		grid-template-columns: 30px 50px;
		grid-template-rows: 30px 30px 30px ;
        .VarLabel {
            grid-column: 1;
        }
        
		input {
			width: 50px;
		}
        .VarInput {
            grid-column: 2;
            width:50px;
        }
    }
}